/* PT Sans */
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    background: #ffffff;
    margin: 0;
}

/* Pages */
.page-header {
    color: #000000;
    background: #ffffff;
}

.navigation-link {
    font-family: "PT Sans", sans-serif;
    line-height: 26px;
    font-weight: 700;
    
    color: #000000;
    text-decoration: none;
}


.main-index, .main-inner  {
    color: #000000;
    background-color: hsl(204 48% 67% / 0.5);
    background-repeat: no-repeat; 
}

.main-inner  {
    color: #000000;
    background-color: #ffffff;
    background-repeat: no-repeat; 
}

.breadcrumbs-link {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;

}

.catalog-filter-item {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

/* Welcome */
.welcome-promo {
    font-family: "PT Sans", sans-serif;
    background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
}

.welcome-promo-logo {
    padding-top: 51px;
    padding-bottom: 82px;
}

.description-promo-more {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.description-promo-reasons {
    font-size: 22px;
    line-height: 36px;
    font-weight: 400;
}

/* Filter */
.filter {
    
    color: #ffffff;
    background-color: hsl(204 48% 67% / 0.5);
    background-image: url("../images/catalog-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.inner-header-title {
    
    color: #ffffff;
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    margin: 0;
}

.total-hotels-found {
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
}

.select-control {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

/* List */
.advantages-list, .description-promo {
    text-align: center;
}

/* Description-promo */
.description-promo {
    background: #ffffff;
    padding: auto;
}

.description-promo-more, .description-promo-reasons {
    margin: 0px;
}

/* Item */
.advantages-item:nth-child(1), .advantages-item:nth-child(2) {
    color: #ffffff;    
}

.advantages-item:nth-child(1)::after {
    content: url("../images/photo-1.jpg");
}

.advantages-item:nth-child(2)::before {
    content: url("../images/photo-2.jpg");
}


.advantages-item-hous, .advantages-item-food, .advantages-item-souvenir {
    color: #000000;
}

/* Title */
.advantages-title {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}

/* Hotel search */
.hotel-search {
    font-family: "PT Sans", sans-serif;
    color: #000000;
    background: #ffffff;
    text-align: center;
}

.hotel-search-interest {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.hotel-search-dates {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}


/* Subscription */
.subscription {
    font-family: "PT Sans", sans-serif;
    text-align: center;
    height: 411px;
    padding-top: 50px;
}

.index-subscription {
    color: #ffffff;
    background-image: url("../images/background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.catalog-subscription {
    color: #000000;
}

.subscription-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.newsletter-promo {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
}

.hotel-card-link {
    color: #000000;
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    text-decoration: none;
}

.hotel-type, .hotel-card-price {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
}

.field {
    color: #000000;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

/* Button */
.button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #756257;
    text-decoration: none;
    text-transform: uppercase;
}

.newsletter-button, .load-more-button, .pagination-link {
    font-size: 20px;
    line-height: 26px;
}

.hotel-card-button, .favourites-button, .apply-button {
    font-size: 16px;
    line-height: 21px;
}

.favourites-button, .apply-button, .reset-button, .social-button, .newsletter-button, .load-more-button, .pagination-link {
    background-color: #83B3D3;
}

.added-button {
    background-color: #7DB54F;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

/* Card rating */
.hotel-card-rating {
    color: #333333;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    width: 160px;
    background: #F2F2F2;
    text-align: center;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 10px;
    border-radius: 4px;
}


.page-footer {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}

.footer-contacts-phone {
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

.page-footer .htmlacademy-link {
    color: #000000;
}
 
.visually-hidden {
    position: absolute;
    visibility: hidden;
}